/* ------------------------------------------------------------ 폰트 시작 ------------------------------------------------------------ */

@font-face {
    font-family: 'PyeongChangPeace';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/PyeongChang/PyeongChangPeace-Bold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-base {
    font-family: BMJUA;
    font-style: normal;
    font-size: 22px;
}

.font-base-nosize {
    font-family: BMJUA;
    font-style: normal;
}

.font-title {
    font-family: PyeongChangPeace-Bold;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.font-content {
    font-family: PyeongChangPeace;
    font-style: normal;
    font-weight: 300;
}

/* ------------------------------------------------------------ 폰트 끝 ------------------------------------------------------------ */


.bodyCustom {
    min-height: 100vh;
    background: linear-gradient(to right, #fde047, #00bc1f, #079ee2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parents {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 460px;
    width: 100%;
    min-height: 460px;
    position: relative;
    background: white;
    border-radius: 11%;
    justify-content: center;
}

.com-btn {
    border: 1px solid green !important;
    border-radius: 68px !important;
    color: #fff !important;
    background: #807edd !important;
    display: block !important;
    box-sizing: border-box !important;
    text-align: center !important;
    width: 122px !important;
    height: 100px !important;
    float: right !important;
    margin-left: 5px !important;
}

/* 서브 navi */
header.sub .head .right .bell span {
    bottom: -12px;
}

div.navi .top_navi {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-size: 0;
    box-sizing: border-box;
    height: 55px;
}

div.navi .top_navi a {
    display: inline-block;
    width: 24px;
}

div.navi .top_navi a img {
    width: 9px
}

div.navi .top_navi a.cbtn {
    margin-right: 6px;
}

div.navi .top_navi a.cbtn img {
    width: 16px;
}

div.navi ul {
    background: #f8f8f8;
    border-bottom: 1px solid #eee;
    padding: 6px 15px 7px;
}

div.navi ul li {
    display: inline-block;
    font: 400 13px/20px "Roboto", "Noto Sans KR", sans-serif;
    color: #333;
    background: url('static/images/_img/cont/his_arrow.png') no-repeat 0% 50% /4px;
    padding: 0 3px 0 11px;
}

div.navi ul li:first-child {
    background: none;
    padding-left: 0
}

div.navi ul li.on {
    color: #807edd;
    font-weight: 500
}

div.navi .flex_top_navi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.navi .flex_top_navi .btn_mini {
    min-width: 75px;
}

/* 메뉴*/
div.navi .top_navi h2 {
    font-family: BMJUA;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    margin-top: -11px
}

.write-select {
    width: 100%;
    padding: 12px 40px 12px 22px;
    border-radius: 50px;
    color: #888;
    font: 400 14px/20px "Roboto", "Noto Sans KR", sans-serif;
    transition: all .3s;
    height: auto;
    box-sizing: border-box;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f8f8f8 url(/img/sel_arrow.png) no-repeat right 22px top 50%/15px;
    margin-bottom: 18px;
}

input[type="text"] {
    width: 100%;
    border: 1px solid #f8f8f8;
    background: #f8f8f8;
    padding: 12px 18px;
    border-radius: 10px;
    color: #888;
    font: 400 14px/20px "Roboto", "Noto Sans KR", sans-serif;
    transition: all .3s;
    box-sizing: border-box;
    margin: 3px;
}

.board {
    padding: 20px 15px 25px;
}

.groups-img-box {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    width: 188px;
    height: 113px;
    display: flex;
    padding: 4px;
}

.tracking-list {
    border: 2px solid #dfdfdf;
    padding: 5px;
    cursor: pointer;
}

.trackings-btn {
    border: 1px solid green !important;
    border-radius: 68px !important;
    color: #fff !important;
    display: block !important;
    box-sizing: border-box !important;
    text-align: center !important;
    width: 88px !important;
    height: 32px !important;
    float: right !important;
    margin-left: 5px !important;
    align-self: center;
    background: #807edd !important; /* 공통 배경색 */
}

.cancel {
    background: red !important; /* Cancel 버튼 배경색 */
}