<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>trackings</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/com.css}">
</head>
<body class="bodyCustom">

<div class="parents">


    <div id="sub_contents" class="board head_mg mb140 w-full">

        <div class="navi">
            <div class="top_navi"><a href="javascript:history.back();"><img src="/img/navi_arrow.png"></a>
                <h2 class="text-2xl">목록 조회</h2>
            </div>
        </div>

        <div class="deal_wrap w-full mb30">
            <ul class="mp_list mydeal vers">
                <li class="flex"
                    th:each="tracking : ${trackings}">
                    <div class="tracking-list w-full flex">
                    <span class="groups-img-box">
                        <p>
                            <img class="groups-img"
                                 th:src="@{'/img/' + ${tracking.transporter} + '.jpg'}"
                                 th:alt="${tracking.transporter}">
                        </p>
                     </span>
                        <div>
                            <div class="h-full">
                                <p class="font-base">상품 이름:<br> <span class="text-green-700" th:text="${tracking.itemName}">이름</span></p>
                                <div class="mt-8">
                                    <p class="font-base-nosize text-end">운송장 번호:<br> <span class="text-green-700" th:text="${tracking.invoiceNo}">운송장 번호</span></p>
                                    <p class="font-base-nosize text-end">회원사 요청 번호:<br> <span class="text-green-700" th:text="${tracking.uniqueId}">회원사 요청 번호</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <button th:onclick="|location.href='@{https://test.goodsflow.io/tracking/FfgBIFAWIB/{serviceId}(serviceId=${tracking.serviceId})}'|"
                                type="button"
                                class="trackings-btn font-base-nosize">배송 추적
                        </button>
                        <button th:onclick="confirmAndDelete([[${tracking.id}]])"
                                type="button"
                                class="trackings-btn cancel font-base-nosize"> 삭제
                        </button>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>

<script th:src="@{/js/common.js}"></script>
</body>
</html>